<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<style>
			$css
		</style>
	</head>
	<body>
	  	<table class="employeeMessageContainer">
   			<tr>
   				<td>
   					<span class="legalFooter"> 
   						SRs Pending on Queue
   					</span>
   				</td>
   			</tr>
   		</table>
   		<br>
		<table class="tableBorder" width="100%" cellspacing="0">
			<tbody>
                          	<tr class="headRowV3">
                          		<td style="text-align:left; width:8%"><b>SR #</b></td>
                          		<td style="text-align:center; width:3%"><b>Sev</b></td>
                          		<td style="text-align:center; width:5%"><b>Type</b></td>
                          		<td style="text-align:center; width:10%"><b>Status</b></td>
                          		<td style="text-align:center; width:3%"><b>Age</b></td>
                          		<td style="text-align:center; width:3%"><b>TSCS</b></td>
                          		<td style="text-align:center; width:3%"><b>NCS</b></td>
                          		<td style="text-align:center; width:8%"><b>Backlog<br>State</b></td>
                          		<td style="text-align:center; width:3%"><b>MEA?</b></td>
                          		<td style="text-align:center; width:5%"><b>Disp or<br>Part?</b></td>
                          		<td style="text-align:center; width:13%"><b>Product<br>Skill</b></td>
                          		<td style="text-align:center; width:8%"><b>FL</b></td>
                          		<td style="text-align:center; width:17%"><b>FL Name</b></td>
                          		<td style="text-align:center; width:5%"><b>Country</b></td>
                          		<td style="text-align:center; width:5%"><b>Other<br>SRs</b></td>
                          	</tr>
				#foreach ($sr in $!pendingSRs)
				    <tr>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">
				        	<b><a href="https://report.avaya.com/siebelreports/casedetails.aspx?case_id=$!sr.number" target="_blank">$!sr.number</a></b>
				        </td>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">$!sr.sev</td>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">$!sr.type</td>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">$!sr.status</td>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">$!sr.age</td>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">$!sr.tscs</td>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">$!sr.ncs</td>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">$!sr.backlogState</td>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">#if($!sr.mea) YES #else NO #end</td>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">#if($!sr.DispOrPart) YES #else NO #end</td>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">$!sr.productSkill</td>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">
				        	<a href="https://report.avaya.com/siebelreports/fldrill.aspx?site_id=$!sr.fl" target="_blank">$!sr.fl</a>
				        </td>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">$!sr.flName</td>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">$!sr.country</td>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">$!sr.otherSrs</td>
				    </tr>
				#end
              </tbody>
        </table>   		
		<br>
		<br>	
   		<table class="employeeMessageContainer">
   			<tr>
         		<td class="empSubLabelContainer">
         			<b>* This notification was generated by the Queue Pre-Checking Application and serves as help for the queue monitoring engineer, who must verify the determine the entitlement of the customer </b>
         			<br>
         			<br>
         			<span class="legalFooter">
						<font color="#ff0000">CONFIDENTIALITY NOTICE:</font><br>This notification message is for the sole use of the intended recipient(s) and contains confidential and proprietary company information.  Any unauthorized review, use, disclosure or distribution especially  to Customers or Business Partners is strictly prohibited<font color="#0000ff"> and is a Code of Conduct violation</font>.
				    </span>
         		</td>
      		</tr>
   		</table>
	</body>
</html>