<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<style>
			$css
		</style>
	</head>
	<body>
	    <table class="employeeMessageContainer">
	    #if( $reminder > 0 )
			<tr>
		         <td class="fullNoBorderContainer" colspan="2">
		         	<b><i><u><font color="red">$reminder# REMINDER: The SR has not been owned by anyone yet.#if($sr.sev=="SBI") This is a SEVERE BUSINESS IMPACT (SBI) #elseif($sr.sev=="OUTG") This is an OUTAGE#end</font></u></i></b>
		         </td>
	        </tr>
			<tr>
		         <td class="fullNoBorderContainer" colspan="2">
		         	&nbsp;
		         </td>
	        </tr>
		#end
			<tr>
	         <td class="fullNoBorderContainer" colspan="2">
	         	<b><font color="#0000ff">SR Sent Back To Our Queue By <u>$!sr.sentBackToQueueHandle</u>. ANY TAKERS?</b>
	         </td>
	        </tr>
	        <tr>
	        	<td>&nbsp;</td>
	        </tr>
		    <tr>
		       <td class="fullBorderContainer" colspan="2"><b>Service Request Details</b></td>
		    </tr>
		    <tr>
         		<td class="employeeLabelContainer"><b>Service Request ID</b></td>
         		<td class="employeeValueContainer">
         			<a href="https://report.avaya.com/siebelreports/casedetails.aspx?case_id=$!sr.number">$!sr.number</a>
         		</td>
         	</tr>
		    <tr>
		        <td class="employeeLabelContainer" style="background-color: yellow; color: black"><b>Business Severity</b></td>
		        <td class="employeeValueContainer" style="background-color: yellow; color: black">$!sr.severity</td>
		    </tr>
		    <tr>
		        <td class="employeeLabelContainer"><b>Type</b></td>
		        <td class="employeeValueContainer">$!sr.type</td>
		    </tr>
		    <tr>
		        <td class="employeeLabelContainer" style="background-color: yellow; color: black"><b>Security Restricted</b></td>
		        <td class="employeeValueContainer" style="background-color: yellow; color: black">#if($!sr.securityRestricted) YES #else NO #end</td>
		    </tr>
		    <tr>
		        <td class="employeeLabelContainer"><b>FL</b></td>
		        <td class="employeeValueContainer"><a href="https://report.avaya.com/siebelreports/fldrill.aspx?site_id=00$!sr.fl">00$!sr.fl</a></td>
		    </tr>
		    <tr>
		        <td class="employeeLabelContainer"><b>FL Name:</b></td>
		        <td class="employeeValueContainer">$!sr.flName</td>
		    </tr>
		    <tr>
		        <td class="employeeLabelContainer"><b>Parent Name:</b></td>
		        <td class="employeeValueContainer">$!sr.parentName</td>
		    </tr>
		    <tr>
		        <td class="employeeLabelContainer"><b>Product Skill</b></td>
		        <td class="employeeValueContainer">$!sr.productSkill</td>
		    </tr>
		    <tr>
		        <td class="employeeLabelContainer"><b>Product</b></td>
		        <td class="employeeValueContainer">$!sr.productEntitled</td>
		    </tr>
		    <tr>
		        <td class="employeeLabelContainer" style="background-color: yellow; color: black"><b>Description</b></td>
		        <td class="employeeValueContainer" style="background-color: yellow; color: black"> $!sr.description</td>
		    </tr>
		    <tr>
		        <td class="employeeLabelContainer"><b>Account</b></td>
		        <td class="employeeValueContainer">$!sr.account</td>
		    </tr>
		    <tr>
		        <td class="employeeLabelContainer"><b>Country</b></td>
		        <td class="employeeValueContainer">$!sr.country</td>
		    </tr>
		</table>
		<br>
		<br>	
   		<table class="employeeMessageContainer">
   			<tr>
   				<td>
   					<span class="legalFooter"> 
   						Following the list of contracts found for the customer <font color="#0000ff"> <b>$!sr.account: </b></font>
   					</span>
   				</td>
   			</tr>
   		</table>
		<table class="tableBorder" width="100%" cellspacing="0">
			<tr class="headRowV3">
			    <th>Country/Region</th>
			    <th>Status</th>
			    <th>FL</th>
			    <th>Sold To Name</th>
			    <th>Ship To</th>
			    <th>Customer Name/End User</th>
			    <th>Start Last Renewed/END</th>
			    <th>Solution Application</th>
			    <th>Aps Supp Description</th>
			</tr>
			#foreach ($customerContract in $!customerContracts)
				    <tr>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">$!customerContract.country/$!customerContract.region</td>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">$!customerContract.status</td>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">$!customerContract.fl</td>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">$!customerContract.soldToName</td>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">$!customerContract.shipTo</td>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">$!customerContract.customerNameEndUser</td>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">$!customerContract.startLastRenewed  $!customerContract.endContract</td>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">$!customerContract.solutionApplication</td>
				        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">$!customerContract.apsSuppDescription</td>
				    </tr>
			#end
		</table> 
		<br>
		<table class="tableBorder" width="100%" cellspacing="0">
			<tbody>
				<tr class="headRowV3">
					<td colspan="2"><span class="blacktext" style="color:White;font-weight:bold;">SR Contact</span></td>
				</tr>
				<tr>
					<td><span class="blacktext" style="font-weight:bold;">Name</span></td>
					<td><span id="lReportedByName" class="blacktext">$!sr.nameContact</span></td>
				</tr>
				<tr>
					<td><span class="blacktext" style="font-weight:bold;">Phone</span></td>
					<td><span id="lReportedByPhone" class="blacktext">$!sr.phoneContact</span></td>
				</tr>
				<tr>
					<td><span class="blacktext" style="font-weight:bold;">Email</span></td>
					<td><a id="hlReportedByEmail" class="blacktext" href="https://report.avaya.com/siebelreports/contactdrill.aspx?emailorsso=$!sr.emailContact">$!sr.emailContact</a></td>
				</tr>
				<tr>
					<td><span class="blacktext" style="font-weight:bold;">Pref Language</span></td>
					<td><span id="lReportedByPrefLang" class="blacktext">$!sr.prefLanguage</span></td>
				</tr>
			</tbody>
		</table>
		<br>
   		<table class="employeeMessageContainer">
   			<tr>
   				<td>
   					<span class="legalFooter"> 
   						<b>SR NOTES</b>
   					</span>
   				</td>
   			</tr>
   		</table>
		<table class="tableBorder" width="100%" cellspacing="0">
			<tr class="headRowV3">
			    <th>Type</th>
			    <th>Created By</th>
			    <th>Date Created</th>
			    <th>Status</th>
			    <th>Private</th>
			    <th>Assignment Time</th>
			    <th>Owner</th>
			</tr>
			#foreach ($activity in $!caseEntries)
			    <tr>
			        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end"><b>$!activity.type</b></td>
			        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end"><b>$!activity.createdBy</b></td>
			        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end"><b>$!activity.dateCreated</b></td>
			        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end"><b>$!activity.status</b></td>
			        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end"><b>$!activity.privateNote</b></td>
			        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end"><b>$!activity.assignmentTime</b></td>
			        <td class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end"><b>$!activity.owner</b></td>
			    </tr>
			    <tr>
			      <td colspan="7" class="blacktext" style="text-align:left;#if($velocityCount%2!=0) background-color:#E6E6E6 #else background-color:#F2F2F2 #end">$!activity.description</td>
			    </tr>
			#end
		</table>
		<br>
		<br>	
   		<table class="employeeMessageContainer">
   			<tr>
         		<td class="empSubLabelContainer">
         			<b>* This notification was generated by the Queue Pre-Checking Application and serves as help for the queue monitoring engineer, who must verify the determine the entitlement of the customer </b>
         			<br>
         			<br>
         			<span class="legalFooter">
						<font color="#ff0000">CONFIDENTIALITY NOTICE:</font><br>This notification message is for the sole use of the intended recipient(s) and contains confidential and proprietary company information.  Any unauthorized review, use, disclosure or distribution especially  to Customers or Business Partners is strictly prohibited<font color="#0000ff"> and is a Code of Conduct violation</font>.
				    </span>
         		</td>
      		</tr>
   		</table>
	</body>
</html>