<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mail="http://www.springframework.org/schema/integration/mail"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/jdbc
	http://www.springframework.org/schema/jdbc/spring-jdbc-4.1.xsd
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.1.xsd
	http://www.springframework.org/schema/integration/mail
    http://www.springframework.org/schema/integration/mail/spring-integration-mail-4.1.xsd 
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util-4.1.xsd">
    
    <context:property-placeholder location="classpath:config.properties" />
    
	<!-- MAIL Settings -->
	<util:properties id="javaMailProperties">
		<prop key="mail.imap.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
		<prop key="mail.imap.socketFactory.fallback">false</prop>
		<prop key="mail.imaps.ssl.trust">*</prop>
		<prop key="mail.store.protocol">imaps</prop>
		<prop key="mail.debug">${imap.debug}</prop>
	</util:properties>
	
	<mail:inbound-channel-adapter id="imapAdapter"
		store-uri="${imap.uri}" channel="receiveEmailChannel" 
		should-delete-messages="false" should-mark-messages-as-read="true"
		auto-startup="true" java-mail-properties="javaMailProperties">
		<int:poller fixed-delay="${imap.poolerSecondsDelay}"
			time-unit="SECONDS" />
	</mail:inbound-channel-adapter>

	<int:channel id="receiveEmailChannel">
		<int:interceptors>
			<int:wire-tap channel="logger" />
		</int:interceptors>
	</int:channel>

	<int:logging-channel-adapter id="logger" level="DEBUG" />

	<int:service-activator input-channel="receiveEmailChannel" ref="emailReceiverService" method="receive" />

	<bean id="emailReceiverService" class="com.avaya.queue.email.EmailReceiverService" />
	
	<bean id="queueService" class="com.avaya.queue.service.QueueService" />

	<bean id="customerContractDao" class="com.avaya.queue.dao.CustomerContractDaoImpl">
		<property name="namedParameterJdbcTemplate" ref="jdbcTemplate" />
	</bean>

	<bean id="notificationDao" class="com.avaya.queue.dao.NotificationDaoImpl">
		<property name="namedParameterJdbcTemplate" ref="jdbcTemplate" />
	</bean>
	
	<!-- jdbc:hsqldb:mem:dataSource -->
	<jdbc:embedded-database id="dataSource" type="HSQL">
		<jdbc:script location="file:///#{systemProperties['user.home']}/qma/db/create-db.sql" />
		<jdbc:script location="file:///#{systemProperties['user.home']}/qma/db/insert-data.sql" />
	</jdbc:embedded-database>

	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg ref="dbcpDataSource" />
	</bean>

	<bean id="dbcpDataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="url" value="jdbc:hsqldb:mem:dataSource" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>
	
	<bean name="queueJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.avaya.queue.job.AdvAppSupportQueueJob" />
		<property name="durability" value="true" />
	</bean>

	<bean name="queueImpJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.avaya.queue.job.AdvAppImpQueueJob" />
		<property name="durability" value="true" />
	</bean>

	<bean name="queuePendingSrsJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.avaya.queue.job.QueuePendingSrsJob" />
		<property name="durability" value="true" />
	</bean>

	<bean name="overdueSrsJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.avaya.queue.job.OverdueSrsJob" />
		<property name="durability" value="true" />
	</bean>
	
	<bean name="dutyShiftJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.avaya.queue.job.DutyShiftJob" />
		<property name="durability" value="true" />
	</bean>

	<!-- 
	Name	       Required	      Allowed Values	     Allowed Special Characters
     Seconds	      Y	               0-59	                   , - * /
     Minutes	      Y	               0-59	                   , - * /
     Hours	          Y	               0-23	                   , - * /
     Day of month	  Y	               1-31	                   , - * ? / L W C
     Month	          Y	               0-11 or JAN-DEC	       , - * /
     Day of week	  Y	               1-7 or SUN-SAT	       , - * ? / L C #
     Year	          N	               empty or 1970-2099	   , - * /  
	 -->
	<!-- Seconds, Mins, hours, Day of Month, Month, Day of Week, Year -->
	<bean id="cronTriggerQueueJobWeekDays" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="queueJob" />
		<property name="cronExpression" value="0/60 0/1 * ? * 1-5" />
	</bean>

	<bean id="cronTriggerQueueImpJobWeekDays" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="queueImpJob" />
		<property name="cronExpression" value="0/60 0/1 * ? * 1-5" />
	</bean>

	<bean id="cronTriggerQueueJobWeekend" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="queueJob" />
		<property name="cronExpression" value="0/180 0/1 * ? * 6-7" />
	</bean>

	<bean id="cronTriggerQueueImpJobWeekend" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="queueImpJob" />
		<property name="cronExpression" value="0/180 0/1 * ? * 6-7" />
	</bean>

	<!-- Seconds, Mins, hours, Day of Month, Month, Day of Week, Year -->
	<bean id="cronTriggerQueuePendingSrsJobWeekDays" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="queuePendingSrsJob" />
		<property name="cronExpression" value="0 0 0/2 ? * MON-FRI" />
	</bean>

	<!-- Seconds, Mins, hours, Day of Month, Month, Day of Week, Year -->
	<!-- Fires Every Day at 00:00 -->
	<bean id="cronTriggerOverdueSrsJob" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="overdueSrsJob" />
		<property name="cronExpression" value="0 0 0 ? * 1-5" />
	</bean>
	
	<!-- Seconds, Mins, hours, Day of Month, Month, Day of Week, Year -->
	<!-- Fires Every Day at 00:00 -->
	<bean id="cronTriggerDutyShiftJob" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="dutyShiftJob" />
		<property name="cronExpression" value="0/60 0/1 * ? * 1-5" />
		<!--  <property name="cronExpression" value="0 0 9 ? * MON,FRI" />-->
	</bean>

	<!-- Scheduler factory bean to glue together jobDetails and triggers to Configure Quartz Scheduler -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
			<list>
				<ref bean="queueJob" />
				<ref bean="queueImpJob" />
				<ref bean="queuePendingSrsJob" />
				<ref bean="overdueSrsJob" />
				<ref bean="dutyShiftJob" />
			</list>
		</property>

		<property name="triggers">
			<list>
				<!--  <ref bean="cronTriggerQueueJobWeekDays" />
				<ref bean="cronTriggerQueueImpJobWeekDays" />
				<ref bean="cronTriggerQueueJobWeekend" />
				<ref bean="cronTriggerQueueImpJobWeekend" />
				<ref bean="cronTriggerQueuePendingSrsJobWeekDays" />
				<ref bean="cronTriggerOverdueSrsJob" />-->
				<ref bean="cronTriggerDutyShiftJob" />
			</list>
		</property>
	</bean>
</beans>